.post-detail-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 80px;
  font-family: "Spinnaker", sans-serif;
  justify-content: space-evenly;
  margin-left: 50px;
  width: 90vw;
}

.post-detail-image {
  width: 600px;
  padding: 0 50px;
}