.post-detail-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 50px;
  font-family: "Spinnaker", sans-serif;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.post-detail-image {
  width: 600px;
  padding: 30px;
}

.button-container {
display: flex;
justify-content: space-between;
margin: 10px
}

.edit-button, .delete-button {
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Spinnaker', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}