.post-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
  font-family: "Spinnaker", sans-serif;
  margin-top: 10vh;
}

.missing-something {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.post-card {
  display: flex;
  flex-direction: column;
  width: 22vw;
  padding: 1vh 1vw;
}

.picture {
  width: 22vw;
}

.post-name {
  text-decoration: none;
}